@import "~bootstrap/scss/bootstrap.scss";

.container{
    background-color: rgb(99, 105, 107);
    width: 450px;
    height: 450px;
    margin: auto;
}
.col1{
    width: 150px;
    height: 150px;
    background-color: rgb(192, 135, 135);
  
}
.col2{
    width: 150px;
    height: 150px;
}
.col3{
    width: 150px;
    height: 150px;
    background-color: rgb(192, 135, 135);

}
.col4{
    width: 150px;
    height: 150px;
}
.col5{
    width: 150px;
    height: 150px;
    background-color: rgb(192, 135, 135);

}
.col6{
    width: 150px;
    height: 150px;
}
.col7{
    width: 150px;
    height: 150px;
    background-color: rgb(192, 135, 135);
}
.col8{
    width: 150px;
    height: 150px;
}
.col9{
    width: 150px;
    height: 150px;
    background-color: rgb(192, 135, 135);
}
h1{
    margin: auto;
    text-align: center;
}


